@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
    background: -webkit-linear-gradient(#3408e1, #0bf478);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.purpleShadow {
    box-shadow: 3px 3px 1px 1px rgb(8, 236, 125);
}

.purpleShadow:hover {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 1px 1px lavender;
}